.logo {
    position: relative;
    left: 10px;
}
#logo {
    position: relative;
    left: 0px;
    transition: left 500ms ease;
}
#logo:hover {
    left: 20px;
}
.topnav {
    background-color: #1da4ed;
    overflow: hidden;
    border-radius: 15px;
}
#logoa {
    display: inline-block;
    margin-right: 1000px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    color: #221d23;
}
.topnav a.active {
    color: #221d23;
}